.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0a868;
}

.navbar img {
  height: 100px;
  width: 100px;
  padding-left: 5%;
}

.links {
  padding-right: 5%;
}
.links a {
  text-decoration: none;
  padding: 15px;
  color: white;
}

.search input {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  /* background-color: #22a6b3; */
  padding-right: 40px;
  color: #fff;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.search button{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    /* position: absolute; */
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .search button:focus ~ .search input{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .search input:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  


/* .search input {
  width: 200px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
} */
*/ .search button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
